/Debug/
.*swp
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

.AppleDouble

.idea

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

.DS_Store
*.o

.vs

# Python
.tox/
.pytest_cache/
build/
.build/
*.pyc
.dist/
dist/
/lib/hal/swi_bitbang_samd21.h
/lib/hal/swi_uart_at90usb1287_asf.c
/lib/hal/swi_uart_at90usb1287_asf.h
/lib/hal/swi_uart_samd21_asf.c
/lib/hal/swi_uart_samd21_asf.h
/lib/hal/swi_uart_samd21_start.c
/lib/hal/swi_uart_samd21_start.h
/lib/hal/swi_uart_xmega_a3bu_asf.c
/lib/hal/swi_uart_xmega_a3bu_asf.h
/lib/hal/hal_all_platforms_kit_hidapi.c
/lib/hal/hal_all_platforms_kit_hidapi.h
/lib/hal/hal_at90usb1287_i2c_asf.c
/lib/hal/hal_at90usb1287_i2c_asf.h
/lib/hal/hal_at90usb1287_timer_asf.c
/lib/hal/hal_i2c_bitbang.c
/lib/hal/hal_i2c_bitbang.h
/lib/hal/hal_linux_i2c_userspace.c
/lib/hal/hal_linux_i2c_userspace.h
/lib/hal/hal_linux_kit_cdc.c
/lib/hal/hal_linux_kit_cdc.h
/lib/hal/hal_linux_kit_hid.c
/lib/hal/hal_linux_kit_hid.h
/lib/hal/hal_linux_timer.c
/lib/hal/hal_pic32mx695f512h_i2c.c
/lib/hal/hal_pic32mx695f512h_i2c.h
/lib/hal/hal_pic32mx695f512h_timer.c
/lib/hal/hal_pic32mz2048efm_i2c.c
/lib/hal/hal_pic32mz2048efm_i2c.h
/lib/hal/hal_pic32mz2048efm_timer.c
/lib/hal/hal_sam4s_i2c_asf.c
/lib/hal/hal_sam4s_i2c_asf.h
/lib/hal/hal_sam4s_timer_asf.c
/lib/hal/hal_samb11_i2c_asf.c
/lib/hal/hal_samb11_i2c_asf.h
/lib/hal/hal_samb11_timer_asf.c
/lib/hal/hal_samd21_i2c_asf.c
/lib/hal/hal_samd21_i2c_asf.h
/lib/hal/hal_samd21_i2c_start.c
/lib/hal/hal_samd21_i2c_start.h
/lib/hal/hal_samd21_timer_asf.c
/lib/hal/hal_samd21_timer_start.c
/lib/hal/hal_samg55_i2c_asf.c
/lib/hal/hal_samg55_i2c_asf.h
/lib/hal/hal_samg55_timer_asf.c
/lib/hal/hal_samv71_i2c_asf.c
/lib/hal/hal_samv71_i2c_asf.h
/lib/hal/hal_samv71_timer_asf.c
/lib/hal/hal_swi_bitbang.c
/lib/hal/hal_swi_bitbang.h
/lib/hal/hal_swi_uart.c
/lib/hal/hal_swi_uart.h
/lib/hal/hal_win_kit_cdc.c
/lib/hal/hal_win_kit_cdc.h
/lib/hal/hal_win_kit_hid.c
/lib/hal/hal_win_kit_hid.h
/lib/hal/hal_win_timer.c
/lib/hal/hal_xmega_a3bu_i2c_asf.c
/lib/hal/hal_xmega_a3bu_i2c_asf.h
/lib/hal/hal_xmega_a3bu_timer_asf.c
/lib/hal/i2c_bitbang_samd21.c
/lib/hal/i2c_bitbang_samd21.h
/lib/hal/kit_phy.h
/lib/hal/kit_protocol.c
/lib/hal/kit_protocol.h
/lib/hal/README.md
/lib/hal/swi_bitbang_samd21.c
